body {bg-light
    background-color:  #004085; 
    font-family: Arial, sans-serif;
}
.navbar {
    background-color: #004085;
}
.navbar-brand img {
    height: 70px;
}
.navbar-title {
    color: white;
    font-size: 24px;
    margin-left: 20px;
}
.card {
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card h2 {
    color:  #004085;
}
.form-group label {
    font-weight: bold;
}
.btn-primary {
    background-color: #007bff;
    border: none;
}
.btn-primary:hover {
    background-color: #0056b3;
}
.text-center {
    margin-bottom: 20px;
}
.material-symbols-outlined {
    font-size: 50px;
    color: #007bff;
}
.message {
    margin-top: 20px;
    font-size: 18px;
    color: green;
}
.navbar-title {
    color: #b1e09f; /* Cambia este color según prefieras */
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    width: 100%; /* Asegura que ocupe toda la anchura disponible */
}

.navbar {
    display: flex;
    justify-content: center; /* Centra los elementos dentro del navbar */
}

.navbar-brand {
    margin-right: auto; /* Alinea el logo a la izquierda */
}
 
      footer {
    background-color: #004085; /* Azul oscuro */
    color: white; /* Letras en blanco */
    text-align: center; /* Alinear el texto */
    padding: 1rem 0; /* Espaciado superior e inferior */
}
.container {
    height: 90vh; /* Cambia esto para ajustar la altura del contenedor */
    margin-top: -30px; /* Ajusta este valor para mover el formulario hacia arriba */
}